.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to right, #292f37, #4f565e) !important;
}

.container-div {
  height: 100vh;
}

@media (min-width: 640px) {
  .hover-effect {
    transition-duration: 500ms;
    transform-origin: center;
  }

  .hover-effect:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 640px) {
  .container-div {
    height: 100%;
  }
}
/* Add your responsive styles here */
.responsive-container {
  font-size: 16px; /* Default font size */
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .responsive-container {
    font-size: 14px;
  }
}