.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to right, #292f37, #4f565e) !important;
}

.container-div {
  height: 100vh;
}

@media (min-width: 640px) {
  .hover-effect {
    transition-duration: 500ms;
    transform-origin: center;
  }

  .hover-effect:hover {
    transform: scale(1.1);
  }

  @media (max-width: 640px) {
    .container-div {
      height: 100%;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 1.1s ease-in-out forwards;
}
.fade-in2 {
  animation: fade-in 1.3s ease-in-out forwards;
}
.fade-in3 {
  animation: fade-in 1.5s ease-in-out forwards;
}
